<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header">

	{{ $baseurl := .Site.BaseURL }}

		<div class="entry-meta">
			<span class="cat-links">
                {{ range .Params.categories }}
                <a href="{{ $baseurl }}/categories/{{ lower . | urlize }}" rel="category">{{ . }}</a>
                {{ end }}
			</span>
		</div>

		<h1 class="entry-title">{{ .Title }}</h1>

		<div class="entry-meta">
			<span class="entry-date">
				{{ if gt .Date "1970-01-01" }}<a href="{{ .Permalink }}" rel="bookmark">
					<time class="entry-date" datetime="{{ .Date }}">
						{{ .Date.Format "January 2" }}
					</time>
				</a>{{ end }}
			</span>
		</div><!-- .entry-meta -->

	</header>
	
	<div class="entry-content">
		{{ .Content }}
	</div><!-- .entry-content -->

	<footer class="entry-meta">
		<span class="tag-links">		
			{{ range .Params.tags }}
                <a href="{{ $baseurl}}/tags/{{ lower . | urlize }}" rel="tag">{{ . }}</a>
            {{ end }}
		</span>
	</footer>
</article> <!-- #post-## -->