		</div><!-- #main -->

		<footer id="colophon" class="site-footer" role="contentinfo">

			<div class="site-info">
				<a href="http://gohugo.io">Proudly powered by Hugo</a>
			</div><!-- .site-info -->
		</footer><!-- #colophon -->
	</div><!-- #page -->

	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/functions.js'></script>
	<link type="text/css" media="screen" rel="stylesheet" href="{{ .Site.BaseURL }}/responsive-tables.css" />
	<link type="text/css" media="screen" rel="stylesheet" href="{{ .Site.BaseURL }}/responsive-tables-1.css" />
	<script type="text/javascript" src="{{ .Site.BaseURL }}/responsive-tables.js"></script>


</body>
</html>