<aside id="recent-posts-3" class="widget widget_recent_entries">

	<h1 class="widget-title"><a href="{{ .Site.BaseURL }}/post">Новости</a></h1>
		<ul>
			{{ range first 5 (where .Site.Pages "Section" "post") }}
			<li>
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			</li>
			{{ end }}
		</ul>

</aside>