<aside id="recent-posts-3" class="widget widget_recent_entries">

	<h1 class="widget-title"><a href="{{ .Site.BaseURL }}/results">Результаты</a></h1>
		<ul>
			{{ range (where .Site.Pages "Section" "results") }}
			{{ if ne .Title "Results" }}
			<li>
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			</li>
			{{ end }}
			{{ end }}
		</ul>

</aside>